In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import chi2
from sklearn.datasets import make_regression
from sklearn.ensemble import ExtraTreesClassifier
from scipy.stats import spearmanr
from scipy import stats

In [2]:
df = pd.read_csv('p2_mod.csv')

In [3]:
df.shape
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [4]:
x = df[["X1",	"X2","X3",	"X4","X5","X18","X19","X20",	"X21","X22",	"X23"]]
y= df[["Y"]]

In [5]:
print(x)
print(y)

           X1  X2  X3  X4  X5    X18    X19    X20   X21    X22   X23
0       20000   2   2   1  24      0    689      0     0      0     0
1      120000   2   2   2  26      0   1000   1000  1000      0  2000
2       90000   2   2   2  34   1518   1500   1000  1000   1000  5000
3       50000   2   2   1  37   2000   2019   1200  1100   1069  1000
4       50000   1   2   1  57   2000  36681  10000  9000    689   679
...       ...  ..  ..  ..  ..    ...    ...    ...   ...    ...   ...
29995  220000   1   3   1  39   8500  20000   5003  3047   5000  1000
29996  150000   1   3   2  43   1837   3526   8998   129      0     0
29997   30000   1   2   2  37      0      0  22000  4200   2000  3100
29998   80000   1   3   1  41  85900   3409   1178  1926  52964  1804
29999   50000   1   2   1  46   2078   1800   1430  1000   1000  1000

[30000 rows x 11 columns]
       Y
0      1
1      1
2      0
3      0
4      0
...   ..
29995  0
29996  0
29997  1
29998  1
29999  1

[30000 rows x 1 columns]

In [6]:
X_new = SelectKBest(chi2, k=1).fit_transform(x, y)

In [7]:
X_new.shape

(30000, 1)

In [8]:
pd.crosstab(np.squeeze(X_new), np.squeeze(y))

Y           0    1
row_0
10000     296  197
16000       2    0
20000    1278  698
30000    1042  568
40000     138   92
...       ...  ...
750000      4    0
760000      1    0
780000      2    0
800000      2    0
1000000     1    0

[81 rows x 2 columns]

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

SVD

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA, TruncatedSVD
svd = TruncatedSVD(n_components = 10)
svd.fit(X_train)
svd_X = svd.transform(X_train)

In [15]:
svd_X.shape

(24000, 10)

In [16]:
svd_X_train, svd_X_test, svd_y_train, svd_y_test = train_test_split(svd_X, y_train, test_size = 0.25, random_state = 42)

In [17]:
svd_lr = LinearRegression()

# Train the model
svd_model = svd_lr.fit(svd_X_train, svd_y_train)

# Prediction
pca_y_pred =  svd_lr.predict(svd_X_test)

# Accuracy Score
svd_lr.score(svd_X_test, pca_y_pred)

1.0

SVM

In [18]:
from sklearn import svm
from sklearn.svm import SVC

In [19]:
svm = svm.SVC()
svm.fit(svd_X_train, svd_y_train)
svm.score(svd_X_train, svd_y_train)*100

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

77.7388888888889

In [20]:
svm_score = svm.score(svd_X_test, svd_y_test)*100
print("SVM Accuracy:", svm_score)

SVM Accuracy: 78.06666666666666

KNN

In [21]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn = KNeighborsClassifier()
classifier = KNeighborsClassifier(n_neighbors = 81)
classifier.fit(svd_X_train, svd_y_train)
knn.fit(svd_X_train, svd_y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [22]:
score = knn.score(svd_X_test, svd_y_test)
print("KNN Algorithm Score:", score*100)

KNN Algorithm Score: 75.75

DT

In [24]:
from sklearn.tree import DecisionTreeClassifier
dclf = DecisionTreeClassifier()
dclf.fit(svd_X_train, svd_y_train)

DecisionTreeClassifier()

In [25]:
j=dclf.score(svd_X_test, svd_y_test)
print("Decision Tree Algorithm Score:",j*100)

Decision Tree Algorithm Score: 67.35

RF

In [26]:
def run_randomForest(svd_X_train, svd_y_train,svd_X_test, svd_y_test):
    clf = RandomForestClassifier(n_estimators= 100, random_state = 42, n_jobs = -1)
    clf.fit(svd_X_train, svd_y_train)
    y_pred = clf.predict(svd_X_test)
    score = accuracy_score(svd_y_test,y_pred)*100
    print("Random Forest Accuracy:", score)

In [27]:
run_randomForest(svd_X_train, svd_y_train,svd_X_test, svd_y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

Random Forest Accuracy: 78.31666666666666

LR

In [28]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(svd_X_train, svd_y_train)
lr = model.score(svd_X_test, svd_y_test)*100
print("Logistic Regression Accuracy:", lr)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression Accuracy: 78.06666666666666