Importing the Dependencies

In [47]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [48]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/p2mod.csv')

In [49]:
# first 5 rows of the dataset
credit_card_data.head()

       X1  X2  X3  X4  X5  X6  X7  ...   X18    X19    X20   X21   X22   X23  Y
0   20000   2   2   1  24   2   2  ...     0    689      0     0     0     0  1
1  120000   2   2   2  26  -1   2  ...     0   1000   1000  1000     0  2000  1
2   90000   2   2   2  34   0   0  ...  1518   1500   1000  1000  1000  5000  0
3   50000   2   2   1  37   0   0  ...  2000   2019   1200  1100  1069  1000  0
4   50000   1   2   1  57  -1   0  ...  2000  36681  10000  9000   689   679  0

[5 rows x 24 columns]

In [50]:
credit_card_data.tail()

           X1  X2  X3  X4  X5  X6  ...    X19    X20   X21    X22   X23  Y
29995  220000   1   3   1  39   0  ...  20000   5003  3047   5000  1000  0
29996  150000   1   3   2  43  -1  ...   3526   8998   129      0     0  0
29997   30000   1   2   2  37   4  ...      0  22000  4200   2000  3100  1
29998   80000   1   3   1  41   1  ...   3409   1178  1926  52964  1804  1
29999   50000   1   2   1  46   0  ...   1800   1430  1000   1000  1000  1

[5 rows x 24 columns]

In [51]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      30000 non-null  int64
 1   X2      30000 non-null  int64
 2   X3      30000 non-null  int64
 3   X4      30000 non-null  int64
 4   X5      30000 non-null  int64
 5   X6      30000 non-null  int64
 6   X7      30000 non-null  int64
 7   X8      30000 non-null  int64
 8   X9      30000 non-null  int64
 9   X10     30000 non-null  int64
 10  X11     30000 non-null  int64
 11  X12     30000 non-null  int64
 12  X13     30000 non-null  int64
 13  X14     30000 non-null  int64
 14  X15     30000 non-null  int64
 15  X16     30000 non-null  int64
 16  X17     30000 non-null  int64
 17  X18     30000 non-null  int64
 18  X19     30000 non-null  int64
 19  X20     30000 non-null  int64
 20  X21     30000 non-null  int64
 21  X22     30000 non-null  int64
 22  X23     30000 non-null  int64
 23  Y       30000 non-null  int64
dtypes: int64(24)
memory usage: 5.5 MB

In [52]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
Y      0
dtype: int64

In [53]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Y'].value_counts()

0    23364
1     6636
Name: Y, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [54]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Y == 0]
fraud = credit_card_data[credit_card_data.Y == 1]

In [55]:
print(legit.shape)
print(fraud.shape)

(23364, 24)
(6636, 24)

In [56]:
# statistical measures of the data
#legit.Amount.describe()

In [57]:
#fraud.Amount.describe()

In [58]:
# compare the values for both transactions
credit_card_data.groupby('Y').mean()

              X1        X2        X3  ...          X21          X22          X23
Y                                     ...
0  178099.726074  1.614150  1.841337  ...  5300.529319  5248.220296  5719.371769
1  130109.656420  1.567058  1.894665  ...  3155.626733  3219.139542  3441.482068

[2 rows x 23 columns]

In [59]:
X1 = credit_card_data.drop(columns='Y', axis=1)
Y1 = credit_card_data['Y']

In [60]:
#before feature selection
X_train, X_test, Y_train, Y_test = train_test_split(X1, Y1, test_size=0.2, stratify=Y1, random_state=2)

In [61]:
model = LogisticRegression()

In [62]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [63]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [64]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.7787083333333333

In [65]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.7788333333333334

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [29]:
legit_sample = legit.sample(n=6636)

Concatenating two DataFrames

In [30]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [31]:
new_dataset.head()

           X1  X2  X3  X4  X5  X6  ...   X19    X20    X21     X22    X23  Y
27488   30000   1   3   2  53   0  ...  1520   1405   1000    1006   1451  0
5728   380000   1   3   2  33  -1  ...  3012  69294  33827  115860  64486  0
14315   50000   1   3   1  48  -1  ...  2000   2000   5001    5000   5021  0
8285    30000   1   2   1  25  -1  ...     0  25919   1000       0  19283  0
11844   30000   2   1   2  24   2  ...     0      0      0       0      0  0

[5 rows x 24 columns]

In [32]:
new_dataset.tail()

           X1  X2  X3  X4  X5  X6  X7  ...    X18   X19    X20   X21    X22   X23  Y
29991  210000   1   2   1  34   3   2  ...      0     0      0     0      0     0  1
29994   80000   1   2   2  34   2   2  ...   7000  3500      0  7000      0  4000  1
29997   30000   1   2   2  37   4   3  ...      0     0  22000  4200   2000  3100  1
29998   80000   1   3   1  41   1  -1  ...  85900  3409   1178  1926  52964  1804  1
29999   50000   1   2   1  46   0   0  ...   2078  1800   1430  1000   1000  1000  1

[5 rows x 24 columns]

In [33]:
new_dataset['Y'].value_counts()

0    6636
1    6636
Name: Y, dtype: int64

In [34]:
new_dataset.groupby('Y').mean()

              X1        X2        X3  ...          X21          X22          X23
Y                                     ...
0  180740.807715  1.616637  1.833785  ...  5352.672393  5291.882007  6044.205696
1  130109.656420  1.567058  1.894665  ...  3155.626733  3219.139542  3441.482068

[2 rows x 23 columns]

Splitting the data into Features & Targets

In [35]:
X = new_dataset.drop(columns='Y', axis=1)
Y = new_dataset['Y']

In [36]:
print(X)

           X1  X2  X3  X4  X5  X6  ...    X18   X19    X20    X21     X22    X23
27488   30000   1   3   2  53   0  ...   1426  1520   1405   1000    1006   1451
5728   380000   1   3   2  33  -1  ...   3742  3012  69294  33827  115860  64486
14315   50000   1   3   1  48  -1  ...   2000  2000   2000   5001    5000   5021
8285    30000   1   2   1  25  -1  ...   1389     0  25919   1000       0  19283
11844   30000   2   1   2  24   2  ...      0     0      0      0       0      0
...       ...  ..  ..  ..  ..  ..  ...    ...   ...    ...    ...     ...    ...
29991  210000   1   2   1  34   3  ...      0     0      0      0       0      0
29994   80000   1   2   2  34   2  ...   7000  3500      0   7000       0   4000
29997   30000   1   2   2  37   4  ...      0     0  22000   4200    2000   3100
29998   80000   1   3   1  41   1  ...  85900  3409   1178   1926   52964   1804
29999   50000   1   2   1  46   0  ...   2078  1800   1430   1000    1000   1000

[13272 rows x 23 columns]

In [37]:
print(Y)

27488    0
5728     0
14315    0
8285     0
11844    0
        ..
29991    1
29994    1
29997    1
29998    1
29999    1
Name: Y, Length: 13272, dtype: int64

Split the data into Training data & Testing Data

In [38]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [39]:
print(X.shape, X_train.shape, X_test.shape)

(13272, 23) (10617, 23) (2655, 23)

Model Training

Logistic Regression

In [40]:
model = LogisticRegression()

In [42]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

Accuracy Score

In [43]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [44]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.6188188753885279

In [45]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [46]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.6033898305084746