In [140]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
data = pd.read_csv('p2_mod.csv')

In [141]:
X = data.drop(columns='Y', axis=1)
y = data['Y']

In [142]:
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [143]:
print(X)

           X1  X2  X3  X4  X5  X6  X7  X8  X9  X10  ...     X14    X15    X16  \
0       20000   2   2   1  24   2   2  -1  -1   -2  ...     689      0      0
1      120000   2   2   2  26  -1   2   0   0    0  ...    2682   3272   3455
2       90000   2   2   2  34   0   0   0   0    0  ...   13559  14331  14948
3       50000   2   2   1  37   0   0   0   0    0  ...   49291  28314  28959
4       50000   1   2   1  57  -1   0  -1   0    0  ...   35835  20940  19146
...       ...  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...     ...    ...    ...
29995  220000   1   3   1  39   0   0   0   0    0  ...  208365  88004  31237
29996  150000   1   3   2  43  -1  -1  -1  -1    0  ...    3502   8979   5190
29997   30000   1   2   2  37   4   3   2  -1    0  ...    2758  20878  20582
29998   80000   1   3   1  41   1  -1   0   0    0  ...   76304  52774  11855
29999   50000   1   2   1  46   0   0   0   0    0  ...   49764  36535  32428

         X17    X18    X19    X20   X21    X22   X23
0          0      0    689      0     0      0     0
1       3261      0   1000   1000  1000      0  2000
2      15549   1518   1500   1000  1000   1000  5000
3      29547   2000   2019   1200  1100   1069  1000
4      19131   2000  36681  10000  9000    689   679
...      ...    ...    ...    ...   ...    ...   ...
29995  15980   8500  20000   5003  3047   5000  1000
29996      0   1837   3526   8998   129      0     0
29997  19357      0      0  22000  4200   2000  3100
29998  48944  85900   3409   1178  1926  52964  1804
29999  15313   2078   1800   1430  1000   1000  1000

[30000 rows x 23 columns]

In [144]:
print(y)

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: Y, Length: 30000, dtype: int64

In [145]:
from sklearn.feature_selection import SelectKBest

In [146]:
from sklearn.feature_selection import f_classif

In [147]:
fit_features = SelectKBest(score_func = f_classif)

In [148]:
fit_features.fit(X,y)

SelectKBest()

In [149]:
score_col = pd.DataFrame(fit_features.scores_, columns = ['Score Value'])

In [150]:
name_col = pd.DataFrame(X.columns)

In [151]:
top_features = pd.concat([name_col, score_col], axis =1)

In [152]:
top_features

      0  Score Value
0    X1   724.068539
1    X2    47.978854
2    X3    23.547112
3    X4    17.781271
4    X5     5.788556
5    X6  3537.714970
6    X7  2239.169136
7    X8  1757.466444
8    X9  1476.845967
9   X10  1304.591176
10  X11  1085.402485
11  X12    11.580532
12  X13     6.044238
13  X14     5.944388
14  X15     3.094745
15  X16     1.371087
16  X17     0.865820
17  X18   160.403810
18  X19   103.291524
19  X20    95.218011
20  X21    97.188000
21  X22    91.429801
22  X23    85.089045

In [153]:
top_features.nlargest(10,'Score Value')

      0  Score Value
5    X6  3537.714970
6    X7  2239.169136
7    X8  1757.466444
8    X9  1476.845967
9   X10  1304.591176
10  X11  1085.402485
0    X1   724.068539
17  X18   160.403810
18  X19   103.291524
20  X21    97.188000

In [154]:
select = ["X6","X7", "X8", "X9", "X10", "X11", "X1", "X18","X19", "X21","Y"]
new_df = data[select]

In [155]:
x = new_df.drop(columns='Y', axis=1)
y = new_df['Y']

In [156]:
print(x)

       X6  X7  X8  X9  X10  X11      X1    X18    X19   X21
0       2   2  -1  -1   -2   -2   20000      0    689     0
1      -1   2   0   0    0    2  120000      0   1000  1000
2       0   0   0   0    0    0   90000   1518   1500  1000
3       0   0   0   0    0    0   50000   2000   2019  1100
4      -1   0  -1   0    0    0   50000   2000  36681  9000
...    ..  ..  ..  ..  ...  ...     ...    ...    ...   ...
29995   0   0   0   0    0    0  220000   8500  20000  3047
29996  -1  -1  -1  -1    0    0  150000   1837   3526   129
29997   4   3   2  -1    0    0   30000      0      0  4200
29998   1  -1   0   0    0   -1   80000  85900   3409  1926
29999   0   0   0   0    0    0   50000   2078   1800  1000

[30000 rows x 10 columns]

In [157]:
from sklearn.model_selection import train_test_split

In [158]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [159]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

SVD-dimension reduction

In [160]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA, TruncatedSVD
svd = TruncatedSVD(n_components = 6)
svd.fit(X_train)
svd_X = svd.transform(X_train)

In [161]:
svd_X.shape

(24000, 6)

In [162]:
svd_X_train, svd_X_test, svd_y_train, svd_y_test = train_test_split(svd_X, y_train, test_size = 0.2, random_state = 42)

In [163]:
svd_lr = LinearRegression()

# Train the model
svd_model = svd_lr.fit(svd_X_train, svd_y_train)

# Prediction
pca_y_pred =  svd_lr.predict(svd_X_test)

# Accuracy Score
svd_lr.score(svd_X_test, pca_y_pred)

1.0

In [164]:
from sklearn import svm
from sklearn.svm import SVC

In [165]:
svm = svm.SVC()
svm.fit(svd_X_train, svd_y_train)
svm.score(svd_X_train, svd_y_train)*100

81.171875

In [166]:
svm_score = svm.score(svd_X_test, svd_y_test)*100
print("SVM Accuracy:", svm_score)

SVM Accuracy: 80.52083333333333

KNN

In [167]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn = KNeighborsClassifier()
classifier = KNeighborsClassifier(n_neighbors = 81)
classifier.fit(svd_X_train, svd_y_train)
knn.fit(svd_X_train, svd_y_train)

KNeighborsClassifier()

In [168]:
score = knn.score(svd_X_test, svd_y_test)
print("KNN Algorithm Score:", score*100)

KNN Algorithm Score: 78.64583333333334

DT

In [169]:
from sklearn.tree import DecisionTreeClassifier
dclf = DecisionTreeClassifier()
dclf.fit(svd_X_train, svd_y_train)

DecisionTreeClassifier()

In [170]:
j=dclf.score(svd_X_test, svd_y_test)
print("Decision Tree Algorithm Score:",j*100)

Decision Tree Algorithm Score: 71.66666666666667

RandomForest

In [171]:
def run_randomForest(svd_X_train, svd_y_train,svd_X_test, svd_y_test):
    clf = RandomForestClassifier(n_estimators= 100, random_state = 42, n_jobs = -1)
    clf.fit(svd_X_train, svd_y_train)
    y_pred = clf.predict(svd_X_test)
    score = accuracy_score(svd_y_test,y_pred)*100
    print("Random Forest Accuracy:", score)

In [172]:
run_randomForest(svd_X_train, svd_y_train,svd_X_test, svd_y_test)

Random Forest Accuracy: 79.625

LogisticRegression

In [173]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(svd_X_train, svd_y_train)
lr = model.score(svd_X_test, svd_y_test)*100
print("Logistic Regression Accuracy:", lr)

Logistic Regression Accuracy: 80.25